* {
            box-sizing: border-box;
        }

        .section1 {
            height: 600px;
            width: 100%;
            background-color: brown;
        }

        .menu {
            display: inline;
            background-color: brown;
            float: right;
            padding: 10px;
        }

        .menu a {

            padding: 8px;
            margin-top: 7px;
            text-transform: uppercase;
            width: 100%;
            color: white;

            margin-right: 20px;
            text-decoration: none;
        }
        .menu a:hover {
            background-color:#e03131;
            cursor: pointer;
        }
        .menu a:active {
            background-color:black;
        }

        .menu h2 {
            width: 11%;
            display: inline;
            position: relative;
            top: 3px;
        }

        .main {
            float: left;
            width: 63%;
            display: inline-block;
            margin: 0 auto;
            padding: 0 183px;
            position: relative;
            top: 60px;
            left: 90px;
        }

        .right {
            float: left;
            width: 11%;
            margin-top: 7px;
            text-align: center;
            position: relative;
            top: 60px;

        }

        .button {
            padding: 9px;
            padding-right: 20px;
            border: 1px solid white;
            padding-left: 20px;
            background: white;
            color: brown;
            text-transform: uppercase;
        }
        .button:hover {
            color:red;
            cursor: pointer;
              
        }

        .section2,
        .section4,
        .section8,
        .section12 {
            background: white;
            padding-bottom: 600px;
            margin-left: -8px;
            margin-right: -8px;
        }

        .section1 h2, .section1 p {
            color: aliceblue;
        }

        .section2 hr,
        .section4 hr, 
        .section6 hr,
        .section8 hr,
        .section9 hr,
        .section10 hr,
        .section12 hr,
        .section13 hr,
        .section14 hr,
        .section15 hr,
        .section17 hr {
            border-color: #ffc107;
            margin-top: -39px;
            width: 30px;
        }

        .section2 h2,
        .section4 h2,
        .section6 h2,
        .section8 h2,
        .section9 h2,
        .section10 h2,
        .section11 h2,
        .section12 h2,
        .section13 h2,
        .section14 h2,
        .section15 h2,
        .section17 h2 {
            position: relative;
            bottom: 34px;
            color: black;
            text-align: center;
            text-transform:uppercase;
        }

        .section2 h3,
        .section2 h4,
        .section3 h2 {
            color:black;
        }

        .section4 h4,
        .section6 h4 {
            color:black;
        }

        .section2 h4 > a {
            text-decoration: none;
            color:black;
            font-size:10px;
        }

        i {
            border: 1px solid red;
            padding: 5px;
        }

        li {
            list-style-type: none;
            line-height: 22px;   
        }

        .section3 {
            padding-bottom: 600px;
            background: lightgoldenrodyellow;
            margin-left:-8px;
            margin-right: -8px;
        }

        #services {
            scroll-behavior: smooth;
        }
        .section5 {
            
            background: brown;
            margin-left:-8px;
            margin-right: -8px;
            margin-bottom: -8px;
            
        }
        .section6 {
            background: white;
            padding-bottom: 600px;
            margin-left: -8px;
            margin-right: -8px;
            margin-top: 22px;
        }
        .section6 .button:hover {
            background:brown;
            color: white !important;
        }
        .section7 {
            background: rgba(128,128,128,0.25);
            padding-bottom: 400px;
            margin-left: -8px;
            margin-right: -8px;
        }

        .diamond {
            width: 0;
            height: 0;
            border: 50px solid transparent;
            border-bottom-color:white;
            position: relative;
            top: -50px;
        }
        .diamond:after {
            content: '';
            position: absolute;
            left: -50px;
            top: 50px;
            width: 0;
            height: 0;
            border: 50px solid transparent;
            border-top-color:white;
        }
        .section7 i, .section7 span {
            z-index: 1;
            position: relative;
            top: 38px;
            right: 12px;
            border: none;
            color: red;
        }

        .section7 p {
            position: relative;
            left: 29px;
        }

        .section7 b {
            position: relative;
            left: 34px;
            color: red;
            top: 5px;
        }
        .section8 h3 {
            text-align: center;
        }
        .section8 p {
            text-align: center;    
            margin-bottom:-12px;
            color:black;
            line-height: 30px;
        }
        .section8 .button:hover {
            background:brown;
            color:white;
        }
        .section8 h3 {
            color:black;
        }
        .section9 {
            padding-bottom:200px;
            background:rgba(128,128,128,0.25);
            margin-left: -8px;
            margin-right: -8px;
        }

        .profile_block {
            display: inline-block;
            margin-left: 20px;
            line-height: 0px;
            text-align: center;
            padding: 20px 20px 20px 20px;
            background: lightgrey;
            border-left: 1px solid red;
            
        }

        .section9 > p, .section11 > div > p {
            width:60%;
            margin: 0 auto;
            color: black;
        }
        .section10 {
            background: white;
            padding-bottom: 100px;
            margin-left: -8px;
            margin-right: -8px;
        }

        .section10 > div > img {
            margin-right: 20px;
        }

        .section11 {
            background: brown;
            padding-bottom: 100px;
            margin-left: -8px;
            margin-right: -8px;
        }

        .section12 h4, 
        .section12 p {
            text-align: right;
            color: black;
        }
        .section12 p {
            margin-bottom: 50px;
        }
        .section12 h4 {
            position: relative;
            top: 13px;
        }
        
        .right_section div > h4, .right_section div > p {
            float: left;
            text-align: left;
            padding-right: 150px;
        }

        .right_section > div > p {
            margin-bottom: 0px;
            position: relative;
            bottom: 14px;
        }
       
        
        .circle_heart {
            font-size: large;
            color: red;
            position: relative;
            top: 33px;
            left: -13.9px;
            border-radius: 11px;
            border: 1px solid white;
            padding-top: 5px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            background: #ffffff;
        }

        .section13 {
            background: lightgrey;
            padding-bottom: 450px;
            margin-left: -8px;
            margin-right: -8px;
        }
        .section13 {
            color:black;
            padding-bottom:600px;
        }

        .square {
            border: 1px solid red; 
            padding: 15px;
            background: brown;
            color: white;
            display: table;
        }
        .section14 {
            background: brown;
            padding-bottom: 100px;
            margin-left: -8px;
            margin-right: -8px;

        }

        .section14 p {
            font-size: 20px;
            text-align: center;
            color:white;
            padding-top: 52px;
        }

        .section14 input {
            padding: 13px;
            padding-right: 174px;
            border: 1px solid white;
        }

        input[name="subscribe"] {
            color: brown;
            background: white;
            border: 1px solid white;
            padding: 13px;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: -5px;
        }

        input[name="subscribe"]:hover {
            background:#cd9d9d;
        }

        .section15 {
            background: white;
            padding-bottom: 450px;
            margin-left: -8px;
            margin-right: -8px;
        }

        .section15 img {
            max-width: 100%;
        }

        .img_hover_effect .overlay {
            opacity:0;
        }

        .img_hover_effect:hover .overlay{
            background:brown;
            opacity: 1; 
        }

        .overlay {
            position: relative;
            top: -39px;
            background: brown;
            width: 100%;
            height: 35px;
        }

        .overlay p{
            float: left;
            padding-left: 5px;
            margin-bottom: 12px;
            position: relative;
            top: -2px;
            font-size: 77%;
        }

        .overlay .right {
            padding-right: 4px;
            float: right;
            width: 22%;
            margin-top: 12px;
        }
        
        .section16 {
            background: lightgrey;
            padding-bottom: 50px;
            margin-left: -8px;
            margin-right: -8px;
        }
        .section17 {
            background: brown;
            padding-bottom: 500px;
            margin-left: -8px;
            margin-right: -8px;
        }
        .section17 input {
           padding-right: 40px;
            padding: 10px;
            margin-right: 10px;
            width: 243px;
        }
        .section17 ul i{
            border: 0px;
            
            
        }
        .list-unstyled {
            padding-left: 0;
            list-style: none;
            display: inline;
        }
        .contact-social {
            display: inline;
            background:white;
            border: 1px solid;
        }
        .section17 span {
            padding: 10px;
            margin-right: 10px;
            background: white;
        }
        .section18 {
            padding-bottom: 0px;
            margin-left: -8px;
            margin-right: -8px;
            top: 0px;
            clear: both;
            position: relative;
            z-index: 10;
            height: 3em;
            margin-top: -3em;
            background: black;
    top: 48px;
        }

        /* footer {
            background: #1b1b1b;
            padding: 25px 0;
        } */
        .section18 li {
            display: inline;
            padding-right: 32px;
            text-decoration: none;
            color:white;
        }

        .section18 a {
            text-decoration: none;
            color:white;
        }
        .section18 a:hover {
            color: brown;
        }

        /* .section15 > div div :hover   {
            color:#ef494d;
        } */
        /* @media only screen and (max-width:620px) {
            
            .menu,
            .main,
            .right {
                width: 100%;
            }
        } */